/* Genel ayarlar */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #66A5AD; /* Yeni arka plan rengi */
    color: #C4DFE6; /* Yazı rengi */
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #003B46; /* Yeni sidebar rengi */
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    border-right: 2px solid #003B46; /* Sidebar kenarlığı başlık rengiyle aynı */
}

/* Sidebar linkleri */
.sidebar a {
    display: block;
    color: #C4DFE6;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #C4DFE6; /* Hover yazı rengi */
    color: #003B46; /* Hover arka plan rengi */
}

/* İçerik alanı */
.content {
    margin-left: 220px;
    padding: 30px;
}

/* Ana başlık */
.main-title {
    text-align: center;
    font-size: 60px;
    color: #003B46; /* Başlık rengi */
    margin-top: 50px;
}

/* Mobil uyumlu */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
    }
    .sidebar a {
        float: left;
        text-align: center;
    }
    .content {
        margin-left: 0;
        padding: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .main-title {
        font-size: 45px;
    }
    .content {
        font-size: 18px;
    }
}
