/* Genel ayarlar */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #66A5AD; /* Arka plan */
    color: #C4DFE6; /* Yazı rengi */
    overflow-x: hidden;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background-color: #003B46; /* Sidebar rengi */
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
    border-right: 2px solid #003B46;
}

.sidebar a {
    display: block;
    color: #C4DFE6;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #C4DFE6;
    color: #003B46;
}

/* İçerik alanı */
.content {
    margin-left: 220px; /* Sidebar boşluğu */
    display: flex;
    flex-direction: column;
}

/* Her section full screen ve arka plan rengi */
.page-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px; /* Sidebar’dan boşluk */
    padding-top: 50px;
    transition: all 0.8s ease;
    background-color: #66A5AD;
}

.page-section h1,
.page-section h2 {
    color: #003B46; /* Başlık rengi */
    margin: 10px 0;
}

.page-section p {
    color: #C4DFE6;
    margin-bottom: 20px;
}

/* Mobil uyumlu */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        border-right: none;
    }
    .sidebar a {
        float: none;
        text-align: center;
    }
    .content {
        margin-left: 0;
        padding: 20px;
        font-size: 20px;
    }
}

@media screen and (max-width: 480px) {
    .page-section h1,
    .page-section h2 {
        font-size: 45px;
    }
    .content {
        font-size: 18px;
    }
}
