.page-section {
    height: 100vh; /* Her section ekran yüksekliği kadar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease; /* Smooth transition */
}

.page-section img {
    max-width: 80%;
    border-radius: 10px;
}
