<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{ content.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="sidebar">
    {% for page in pages %}
        <a href="{{ '/' if page.route=='index' else '/' + page.route }}">{{ page.title }}</a>
    {% endfor %}
</div>

<div class="content">
    {% if content.route == 'index' %}
        <h1 class="main-title">{{ content.title }}</h1>
        <p>{{ content.text }}</p>
    {% else %}
        <h2>{{ content.title }}</h2>
        <p>{{ content.text }}</p>
        {% if content.images %}
            {% for img in content.images %}
                <img src="{{ url_for('static', filename='images/' + img) }}" style="max-width:100%; margin:10px 0; border-radius:10px;">
            {% endfor %}
        {% endif %}
    {% endif %}
</div>

</body>
</html>
